SILERO_FRONTEND_PORT=7072
SILERO_API_PORT=7090

SILERO_DEVICE=cuda
SILERO_THREADS=4
SILERO_MODEL_URL=https://models.silero.ai/models/tts/ru/v5_ru.pt
SILERO_MODEL_ID=v5_ru
SILERO_LANGUAGE=ru
SILERO_DEFAULT_SPEAKER=xenia
SILERO_DEFAULT_SAMPLE_RATE=48000
SILERO_MAX_TEXT_CHARS=6000
SILERO_CHUNK_CHARS=350
SILERO_SENTENCE_PAUSE_MS=160
